* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .button1, .button2 {
            width: 200px;
            padding-left: 20px;
            padding-right: 30px;
            padding-top: 40px;
            padding-bottom: 50px;
            background-color: #ffbbbb;
            border: 1px solid #000000;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 30px;
            text-align: center;
            transition: 0.3s ease-in-out;
            cursor: pointer;
        }
        .button2 {
            margin-left: 120px;
        }
        .button1:hover, .button2:hover {
            transform: scale(1.1);
            background-color: #271b1b;
            color: white;
        }